:root {
  :var(--footer-height--) ;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.debug * {
  background-color: red;
  border: 1px solid lightcoral;
}

/* utils */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #141922;
}

main {
  height: calc(100vh - 90px);
  display: flex;
}

footer {
  height: 90px;
  background-color: #282828;
}

.sidehead {
  height: 60px;
  padding: 10px 7px;
}

.logo {
  display: none;
  width: 7rem;
}

.logosmall {
  width: 2rem;
  /* display: none; */
}

/* sidebar */

#sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: #000000;
}

.maincontainer {
  width: calc(100vw - 200px);
}

.sidecontent {
  flex-grow: 1;
}
