:root {
  :var(--footer-height--) ;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  /* color: white; */
}

ul {
  list-style-type: none;
}

.debug * {
  background-color: red;
  border: 1px solid lightcoral;
}

/* utils */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  gap: 10px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #141922;
}

body {
  font-weight: bold;
}

main {
  height: calc(100vh - 90px);
  display: flex;
}

footer {
  height: 90px;
  background-color: #282828;
}

.sidehead {
  height: 60px;
  padding: 10px 7px;
}

#maincontainer {
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

header {
  height: 60px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainbody {
  height: calc(100vh - 60px);
}

.col-1-6 {
  width: 130px;
  text-align: center;
}

.col-1-6 * {
  padding-bottom: 5px;
}

/* displayon/off */
.logo {
  display: none;
  width: 7rem;
}

.logosmall {
  width: 2rem;
  display: none;
}

.sidemenu {
  display: none;
}

.sidemenuxl {
  display: none;
}

.sidefooter {
  display: none;
}
.sidefooterxl {
  display: none;
}

/* displayon/off */

/* HOVER */

.sidecontent *:hover {
  color: white;
  cursor: pointer;
}

.home:hover {
  border-left: greenyellow solid 5px;
  padding-left: 5px;
}
.cerca:hover {
  border-left: greenyellow solid 5px;
  padding-left: 5px;
}
.libreria:hover {
  border-left: greenyellow solid 5px;
  padding-left: 5px;
}

/* maincontent */

footer *:hover {
  cursor: pointer;
}
.shadow:hover {
  padding: 12px 60px;
}

.barra-brano :hover {
  .white {
    background-color: lime;
  }
  .circlebarr {
    display: block;
  }
}

.barra-volume :hover {
  .white {
    background-color: lime;
  }
  .circlebarr {
    display: block;
  }
}

.brano-text :hover {
  color: lightgray;
  text-decoration: underline;
}

.icon-left :hover {
  color: lightgray;
}
/* HOVER */

/* before */

.sidemenuxl .home::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
  font-size: 1.2rem;
}
.sidemenuxl .cerca::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 1.2rem;
}
.sidemenuxl .libreria::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e51e";
  font-size: 1.2rem;
}

.add::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0fe";
  font-size: 2rem;
  padding-right: 5px;
}

/* before */
/* after */

/* after */

/* media side bar */

@media screen and (max-width: 2000px) {
  #sidebar {
    width: 200px;
  }
  .logo {
    display: block;
  }

  .logosmall {
    display: none;
  }
  .sidemenu {
    display: none;
  }

  .sidemenuxl {
    display: block;
  }
  .sidefooter {
    display: none;
  }
  .sidefooterxl {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  #sidebar {
    width: 60px;
  }

  .logo {
    display: none;
  }

  .logosmall {
    display: block;
  }

  .sidemenu {
    display: block;
  }

  .sidemenuxl {
    display: none;
  }

  .sidefooter {
    display: block;
  }
  .sidefooterxl {
    display: none;
  }

  #playlist {
    display: none;
  }
}

/* media sidebar */
/* media footer*/
@media screen and (max-width: 500px) {
  .foot-left {
    width: calc(100% / 4);
    .foot-photo {
      width: 2rem;
    }

    .brano-text {
      font-size: 0.5rem;
    }
    .icon-left {
      font-size: 0.5rem;
    }

    .name-brano {
      font-size: 0.4rem;
    }

    .icon-left {
      padding-left: 0px;
      flex-direction: column;
    }
  }

  .foot-center {
    width: calc(100% / 3);

    .center-top {
      gap: 10px;
    }
  }

  .foot-right {
    width: calc(100% / 4);
  }
  .icon-right {
    margin-left: 2px;
    font-size: 0.6rem;
  }
  .icona-volume {
    font-size: 0.6rem;
  }
}

/* media footer*/

/* ELEMENT BODY */

/* sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: #000000;
  overflow: auto;
  scrollbar-width: none;
}

.sidecontent {
  flex-grow: 1;
}

.sidecontent li {
  font-size: 0.7rem;
  padding: 10px 0px;
  color: gray;
}

.sidemenu i {
  font-size: 1.1rem;
  color: gray;
}

.sidemenu {
  padding: 10px 0px;
}

.sidemenuxl a {
  font-size: 0.8rem;
  color: gray;
}

.sidemenuxl {
  padding: 10px 0px;
}

#plus {
  font-size: 2rem;
  color: gray;
}

/* sidefooter */

.jhonuser {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  gap: 5px;
}
.jhonuser p {
  font-size: 0.8rem;
}

.install {
  border-bottom: 1px solid gray;
  font-size: 0.7rem;
  padding-bottom: 10px;
}

.installsmall {
  font-size: 0.7rem;
  padding-bottom: 10px;
}

.install * {
  color: gray;
}

.installsmall * {
  color: gray;
}

/* maincontainer */

button {
  margin-right: 50px;
}

.shadow {
  padding: 10px 50px;
  background-color: #4343433f;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 0.6rem;
}
/* mainbody */

.navmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding-top: 20px;
}
.navmain * {
  color: gray;
}
.underlinegreen {
  height: 2px;
  background-color: lime;
  width: 35%;
  margin: 5px auto;
}
.library {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 10px;
  padding-top: 20px;
}

.recently h3 {
  padding: 5px 0px;
}

.recently img {
  width: 100%;
}

.titlecard {
  font-size: 0.7rem;
}

.subtitlecard {
  font-size: 0.6rem;
  color: gray;
}

.subtitle {
  font-size: 0.6rem;
  color: gray;
}

/* mainbody */

/* maincontainer */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 0.8rem;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;
}

.circlebarr {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 0;
  display: none;
}

/* footleft */

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-grow: 1;

  flex-shrink: 1;
}

.foot-photo {
  max-height: 65px;
}

.brano-text {
  font-size: 0.7rem;
}

.name-brano {
  font-weight: normal;
  font-size: 0.5rem;
  color: gray;
}

.icon-left {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 10px;
  font-size: 1rem;
}

.icon-left i {
  color: gray;
}

/* footleft */
/* footcenter */

.foot-center {
  flex-grow: 1;

  max-width: 500px;
  flex-shrink: 1;
}

.center-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 0.8rem;
}

.play {
  font-size: 1.5rem;
}

.center-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.6rem;
}

.barra-brano {
  flex-grow: 1;
}

.grigio {
  height: 4px;
  background-color: gray;
  border-radius: 10px;
}

.white {
  height: 4px;
  background-color: white;
  border-radius: 10px;
  width: 25%;
  position: relative;
}

.lime {
  height: 4px;
  background-color: lime;
  border-radius: 10px;
  width: 25%;
}
.foot-right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;

  justify-content: flex-end;
  flex-shrink: 1;
}

.icon-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100px;
}

.barra-volume {
  flex-grow: 1;
}

/* footcenter */

/* footer */
